	<div class="collections">
				<div class="collections-head">
					<div class="container">
						<div class="collections-head-left">
							<img src="/iteam.png" title="name" />
						</div>
						<div class="collections-head-right">
							<h2><span>Arizume</span></br><span>Mexican Silver</span></h2>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!-- categories -->
				<div class="categories">
					<div class="container">
						<div class="categories-left">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">Collections</a></li>
								<li><a href="#">Arizume  Mexican Silver</a></li>
							</ul>
						</div>
						<div class="categories-right">
							<ul>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li class="view"><a href="#">View All</a></li>
								<li class="options">
									<select>
										<option>Sorted by</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
								</li>
								<div class="clearfix"> </div>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!-- categories -->
				<!-- iteam-grids -->
				<div class="iteam-grids">
					<div class="container">
						<div class="col-md-3">
							<div onclick="location.href='details.html';" class="iteam-grid text-center">
								<img src="/iteam1.jpg" title="name" />
								<span>Wing Earrings</span>
								<label>PRICE AU$ 180.00</label>
								<ul>
									<li><a class="cart" href="#">Add to cart</a></li>
									<li><a class="more" href="#">More</a></li>
									<div class="clearfix"> </div>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div onclick="location.href='details.html';" class="iteam-grid text-center">
								<img src="/iteam2.jpg" title="name" />
								<span>Wing Earrings</span>
								<label>PRICE AU$ 180.00</label>
								<ul>
									<li><a class="cart" href="#">Add to cart</a></li>
									<li><a class="more" href="#">More</a></li>
									<div class="clearfix"> </div>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div onclick="location.href='details.html';" class="iteam-grid text-center">
								<img src="/iteam3.jpg" title="name" />
								<span>Wing Earrings</span>
								<label>PRICE AU$ 180.00</label>
								<ul>
									<li><a class="cart" href="#">Add to cart</a></li>
									<li><a class="more" href="#">More</a></li>
									<div class="clearfix"> </div>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div onclick="location.href='details.html';" class="iteam-grid text-center">
								<img src="/iteam4.jpg" title="name" />
								<span>Wing Earrings</span>
								<label>PRICE AU$ 180.00</label>
								<ul>
									<li><a class="cart" href="#">Add to cart</a></li>
									<li><a class="more" href="#">More</a></li>
									<div class="clearfix"> </div>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
						<div class="col-md-3">
							<div onclick="location.href='details.html';" class="iteam-grid text-center">
								<img src="/iteam5.jpg" title="name" />
								<span>Wing Earrings</span>
								<label>PRICE AU$ 180.00</label>
								<ul>
									<li><a class="cart" href="#">Add to cart</a></li>
									<li><a class="more" href="#">More</a></li>
									<div class="clearfix"> </div>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div onclick="location.href='details.html';" class="iteam-grid text-center">
								<img src="/iteam6.jpg" title="name" />
								<span>Wing Earrings</span>
								<label>PRICE AU$ 180.00</label>
								<ul>
									<li><a class="cart" href="#">Add to cart</a></li>
									<li><a class="more" href="#">More</a></li>
									<div class="clearfix"> </div>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div onclick="location.href='details.html';" class="iteam-grid text-center">
								<img src="/iteam7.jpg" title="name" />
								<span>Wing Earrings</span>
								<label>PRICE AU$ 180.00</label>
								<ul>
									<li><a class="cart" href="#">Add to cart</a></li>
									<li><a class="more" href="#">More</a></li>
									<div class="clearfix"> </div>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div onclick="location.href='details.html';" class="iteam-grid text-center">
								<img src="/iteam8.jpg" title="name" />
								<span>Wing Earrings</span>
								<label>PRICE AU$ 180.00</label>
								<ul>
									<li><a class="cart" href="#">Add to cart</a></li>
									<li><a class="more" href="#">More</a></li>
									<div class="clearfix"> </div>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				</div>
				<!-- iteam-grids -->
		