
				<% provide(:title, 'Home') %>
					<!-- banner -->
		
		<div class="banner" style="margin-bottom: 0px;padding-bottom: 0px">
			<!--- img-slider --->
	    <div class="row" style="margin: 0px ;padding: 0px">
		<div class="col-md-8" style="margin: 0px ;padding: 0px" >
				<div class="img-slider">
						<!----start-slider-script---->
					
					 <script>
					    // You can also use "$(window).load(function() {"
					    $(function () {
					      // Slideshow 4
					      $("#slider4").responsiveSlides({
					        auto: true,
					        pager: true,
					        nav: true,
					        speed: 500,
					        namespace: "callbacks",
					        before: function () {
					          $('.events').append("<li>before event fired.</li>");
					        },
					        after: function () {
					          $('.events').append("<li>after event fired.</li>");
					        }
					      });
					
					    });
					  </script>
					<!----//End-slider-script---->
					<!-- Slideshow 4 -->
					 
					 
					 
					 
					    <div  id="top" class="callbacks_container">
					      <ul class="rslides" id="slider4">
					        <li>
					          <img  src="/slide.jpg" alt=""  >
					        </li>
					        <li>
					          <img src="/slide2.jpg" alt=""  >
					        </li>
					        <li>
					          <img src="/slide.jpg" alt="" >
					        </li>
					      </ul>
					    </div>
					    <div class="clearfix"> </div>
					</div>
			</div>
					<!-- slider -->
		
		<div class="col-md-4" >
			<div class="row" style="margin-bottom: 1px;background-image: url(/top_right_bg.jpg)">
				<div class="col-md-6 " ><img class="animated" src="/image_plat_03.png" width="170" height="149" /></div>
				<div class="col-md-6" ></div>
			
			</div>
			
				<div class="row" style="margin-bottom: 1px; background-image: url(/top_right_bg.jpg)">
				<div class="col-md-6 " ><img class="animated" src="/image_plat_04.png" width="170" height="150" /></div>
				<div class="col-md-6" ></div>
			
			</div>
					</div>
			
			
		</div>
		</div>
		</div>
		
		<!-- banner -->
		<!-- Welcome-note -->
		<div class="Welcome-note">
			<div class="Welcome-note-left">
				<div class="Welcome-note-left-pic">
					<img src="/pic1.png" title="name" />
				</div>
				<div class="Welcome-note-left-pic-info">
					<p>Explore our New Arrivals in <span>Sterling Silver</span> and Exciting new colours in semi precious stone jewellery..</p>
				</div>
			</div>
			<div class="Welcome-note-right">
				<p>What is <span>new</span></p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- Welcome-note -->
		<!-- content -->
		<div class="content">
			<!-- top-grids -->
			<style> 
				.top-grids{
					margin: 0px;
					padding: 0px
					
				}
				</style>
			<div class="top-grids test">
			
			<div class="container-fluid">
				
				<div class="product-grids ">
					<!---
						<!----sreen-gallery-cursual---->
							 <!-- requried-jsfiles-for owl -->
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items : 5,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : true,
							        navigationText :false,
							        pagination : false
							      });
							   
							    });
							    </script>
							 <!-- //requried-jsfiles-for owl -->
							 <!-- start content_slider -->
						       <div id="owl-demo" class="owl-carousel text-center " style="margin-bottom: 1px">
					                
					                <div  class="item">
					                	
					                	<div class="product-grid">
											<div class="product-pic" >
												<a href="#"><img src="/pic4.png" title="name" style="height:225px" /></a>
											</div>
											
										</div>
					                </div>
					                <div  class="item">
					                	<div class="product-grid">
											<div class="product-pic">
												<a href="#"><img src="/pic3.png" title="name" style="height:225px"/></a>
											</div>
											
										</div>
					                </div>
					                <div  class="item">
					                	<div class="product-grid">
											<div class="product-pic">
												<a href="#"><img src="/pic4.png" title="name" style="height:225px" /></a>
											</div>
											
										</div>
					                </div>
					                <div  class="item">
					                	<div class="product-grid">
											<div class="product-pic">
												<a href="#"><img src="/pic5.png" title="name" style="height:225px" /></a>
											</div>
											
										</div>
					                </div>
					                <div  class="item">
					                	<div class="product-grid">
											<div class="product-pic">
												<a href="#"><img src="/pic6.png" title="name"  style="height:225px"/></a>
											</div>
											
										</div>
					                </div>
					                <div  class="item">
					                	<div class="product-grid">
											<div class="product-pic">
												<a href="#"><img src="/pic3.png" title="name" style="height:225px" /></a>
											</div>
											
										</div>
					                </div>
					                <div  class="item">
					                	<div class="product-grid">
											<div class="product-pic">
												<a href="#"><img src="/pic4.png" title="name"  style="height:225px"/></a>
											</div>
											
										</div>
					                </div>
					                <div  class="item">
					                	<div class="product-grid">
											<div class="product-pic">
												<a href="#"><img src="/pic5.png" title="name" style="height:225px"/></a>
											</div>
											
										</div>
					                </div>
					                <div  class="item">
					                	<div class="product-grid">
											<div class="product-pic">
												<a href="#"><img src="/pic3.png" title="name" style="height:225px"/></a>
											</div>
											
										</div>
					                </div>
				             
				              </div>
			</div>
		</div>
		</div>
		</div>
		<!-- top-grids -->
		<!-- content -->
		<!-- footer -->
				
		<!-- footer -->
		<!-- copy-right -->
		
		<!-- copy-right -->
		<!-- container -->
	
