<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="panel panel-default">

				<div class="panel-heading">
					<%if error ||sussces%>

					<div class="error" >
						<ul>
							<% error.each do |message| %>
							<li>
								<%= message %>
							</li>
							<% end %>
							<span style="color: green"><%= sussces%></span></li>

						</ul>

					</div>

					<%end%>
					<div class="panel-title">
						Add item
					</div>

				</div>

				<div class="panel-body">

					<div class="col-md-8">
						<form action="/mjweller/add_price" method="post" role="form">

							<div class="form-group">
								<label for="class">Name</label>
								<div class="input-group">
									<select name="pricedata[name]" id="class" class="form-control">
										<option>gold</option>
										<option>silver</option>
										<option>diamond</option>

									</select>
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
							<div class="form-group">
								<label for="class">price</label>
								<div class="input-group">
									<input type="text" class="form-control" id="mobile" name="pricedata[price]" placeholder=" Sub category" required autocomplete="true">
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>

							</div>
							<div class="form-group">

								<div class="input-group">
									<input type="submit" value="add item" class="btn btn-primary"/>

								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="panel-footer">
					footer
				</div>

			</div>

		</div>
	</div>
</div>
